In [1]:
# Import Dependencies
import pandas as pd

In [2]:
# Create a path to the csv and read it into a Pandas DataFrame
csv_path = "Resources/ted_talks.csv"
ted_df = pd.read_csv(csv_path)

ted_df.head()

,comments,description,duration,event,languages,main_speaker,name,title,views
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869

In [4]:
# Figure out the minimum and maximum views for a TED Talk
ted_df.describe()

          comments     duration    languages         views
count  2550.000000  2550.000000  2550.000000  2.550000e+03
mean    191.562353   826.510196    27.326275  1.698297e+06
std     282.315223   374.009138     9.563452  2.498479e+06
min       2.000000   135.000000     0.000000  5.044300e+04
25%      63.000000   577.000000    23.000000  7.557928e+05
50%     118.000000   848.000000    28.000000  1.124524e+06
75%     221.750000  1046.750000    33.000000  1.700760e+06
max    6404.000000  5256.000000    72.000000  4.722711e+07

In [5]:
# Create bins in which to place values based upon TED Talk views
bins = [0, 500_000,1_000_000,5_000_000,10_000_000,50_000_000,100_000_000]

# Create labels for these bins
group_labels = ["0-500k", "500k-1M","1M-5M","5M-10M", "10M-50M","50M-100M"]

In [9]:
# Slice the data and place it into bins
ted_df["Viewcounts"] = pd.cut(ted_df["views"], bins, labels=group_labels)
ted_df.head(10)

,comments,description,duration,event,languages,main_speaker,name,title,views,Viewcounts
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,10M-50M
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,1M-5M
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,1M-5M
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,1M-5M
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,10M-50M
5,672,"Tony Robbins discusses the ""invisible forces"" ...",1305,TED2006,36,Tony Robbins,Tony Robbins: Why we do what we do,Why we do what we do,20685401,10M-50M
6,919,When two young Mormon missionaries knock on Ju...,992,TED2006,31,Julia Sweeney,Julia Sweeney: Letting go of God,Letting go of God,3769987,1M-5M
7,46,Architect Joshua Prince-Ramus takes the audien...,1198,TED2006,19,Joshua Prince-Ramus,Joshua Prince-Ramus: Behind the design of Seat...,Behind the design of Seattle's library,967741,500k-1M
8,852,Philosopher Dan Dennett calls for religion -- ...,1485,TED2006,32,Dan Dennett,Dan Dennett: Let's teach religion -- all relig...,Let's teach religion -- all religion -- in sch...,2567958,1M-5M
9,900,"Pastor Rick Warren, author of ""The Purpose-Dri...",1262,TED2006,31,Rick Warren,Rick Warren: A life of purpose,A life of purpose,3095993,1M-5M

In [10]:
# Place the data series into a new column inside of the DataFrame
ted_df

,comments,description,duration,event,languages,main_speaker,name,title,views,Viewcounts
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,Do schools kill creativity?,47227110,10M-50M
1,265,With the same humor and humanity he exuded in ...,977,TED2006,43,Al Gore,Al Gore: Averting the climate crisis,Averting the climate crisis,3200520,1M-5M
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,26,David Pogue,David Pogue: Simplicity sells,Simplicity sells,1636292,1M-5M
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,35,Majora Carter,Majora Carter: Greening the ghetto,Greening the ghetto,1697550,1M-5M
4,593,You've never seen data presented like this. Wi...,1190,TED2006,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,The best stats you've ever seen,12005869,10M-50M
...,...,...,...,...,...,...,...,...,...,...
2545,17,"Between 2008 and 2016, the United States depor...",476,TED2017,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...,What we're missing in the debate about immigra...,450430,0-500k
2546,6,How can you study Mars without a spaceship? He...,290,TED2017,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...,The most Martian place on Earth,417470,0-500k
2547,10,Science fiction visions of the future show us ...,651,TED2017,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...,What intelligent machines can learn from a sch...,375647,0-500k
2548,32,In an unmissable talk about race and politics ...,1100,TEDxMileHigh,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...,A black man goes undercover in the alt-right,419309,0-500k
2549,8,With more than half of the world population li...,519,TED2017,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...,How a video game might help us build better ci...,391721,0-500k

In [12]:
# Create a GroupBy object based upon "View Group"
ted_df1 = ted_df.groupby("Viewcounts")

# Find how many rows fall into each bin
ted_df1.describe()

# Get the average of each column within the GroupBy object

           comments                                                        \
              count        mean         std    min    25%    50%      75%
Viewcounts
0-500k        279.0   89.745520   83.476592    6.0   41.0   69.0   113.00
500k-1M       768.0  118.005208  106.937418    2.0   49.0   91.0   148.25
1M-5M        1404.0  219.678063  298.885013    7.0   76.0  149.0   265.00
5M-10M         65.0  469.153846  304.297820   46.0  234.0  394.0   634.00
10M-50M        34.0  996.882353  887.212412  150.0  486.5  670.5  1155.00
50M-100M        0.0         NaN         NaN    NaN    NaN    NaN      NaN

                   duration              ... languages         views  \
               max    count        mean  ...       75%   max   count
Viewcounts                               ...
0-500k       649.0    279.0  833.261649  ...      26.5  48.0   279.0
500k-1M      846.0    768.0  830.218750  ...      30.0  61.0   768.0
1M-5M       6404.0   1404.0  819.066239  ...      34.0  69.0  1404.0
5M-10M      1627.0     65.0  842.969231  ...      43.0  72.0    65.0
10M-50M     4553.0     34.0  963.264706  ...      47.0  66.0    34.0
50M-100M       NaN      0.0         NaN  ...       NaN   NaN     0.0

                                                                            \
                    mean           std         min         25%         50%
Viewcounts
0-500k      3.537618e+05  1.050017e+05     50443.0    293484.0    379382.0
500k-1M     7.682929e+05  1.402209e+05    501090.0    656836.0    767868.5
1M-5M       1.829735e+06  8.876480e+05   1000194.0   1206230.0   1502507.5
5M-10M      7.114463e+06  1.331588e+06   5006241.0   6064898.0   7015800.0
10M-50M     1.795655e+07  8.855606e+06  10000702.0  12318853.0  15442313.5
50M-100M             NaN           NaN         NaN         NaN         NaN


                    75%         max
Viewcounts
0-500k        433540.50    498409.0
500k-1M       890294.75    999700.0
1M-5M        2125875.25   4984884.0
5M-10M       8107178.00   9753630.0
10M-50M     20303845.25  47227110.0
50M-100M            NaN         NaN

[6 rows x 32 columns]